.jm-bg {
  /* height: 60vh; */
  height: 60.7vh;

  padding: 0;
}

.banner-img {
  background-image: url("./assets/dogscat2.jpg");
  height: 60vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cursor {
  cursor: pointer;
}
