.jm-bg {
  /* height: 60vh; */
  height: 60.7vh;
  background-color: white;
  padding: 0;
}

.banner-img {
  background-image: url("./assets/collarBruno.png");
  height: 60vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cursor {
  cursor: pointer;
}

/* Home carousel */
.jm-carousel {
  background-color: white;
  padding-top: 0;
}

.carousel-item {
  width: 100%;
  height: 550px;
}

.image_carousel {
  object-fit: contain;
}

@media (max-width: 600px) {
  .carousel-item {
    width: 100%;
    height: 25vh;
  }

  .caption-h3 {
    display: none;
    font-size: medium;
  }
}
